# The port at which the service will be available
# The deault is port 8080
PORT=8080
# If you are exposing the tool to the open internet, it is recommended to secure it with an api key
# You can use `openssl rand -hex 32 to generate a random key.
# Include the key in the X-API-KEY header in every request you make to the tool
# Remove this property from your environment file to disable api key authentication
API_KEY=26781322d70356e626ecc0838ff8320fef6cf4af49c36959e036cc04c4cc0bf7
# The url of the service converting html files to pdf.
# If you're using the compose file, set it to the internal address of the converting service
GOTENBERG_URL=http://gotenberg:3000
# The directory where template html files will be stored. It is recommended to tie a directory on your host machine to template directory inside the container
# You can set the name of the directory inside the container to a different value if you like
# By default it is set to `templates`
TEMPLATES_DIR=templates
# The hostname at which the tool will be available. Include protocol, port and trailing slash.
HOSTNAME=https://mysite.dev:3212/